n8n/whatsapp-intake.json
{
  "name": "MEC · WhatsApp Intake (WaSender)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mec-wasender",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "WaSender webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [ 220, 320 ]
    },
    {
      "parameters": {
        "jsCode": "// Verify WaSender secret + extract the inbound message. Drop non-message events.\nconst crypto = require('crypto');\nconst secret = $env.WASENDER_WEBHOOK_SECRET || '';\nconst item = $input.first().json;\nconst headers = item.headers || {};\nconst body = item.body || item;\n\n// Signature check (WaSender sends the secret / HMAC in x-webhook-signature). Lenient: flag, don't hard-block.\nconst sig = headers['x-webhook-signature'] || headers['X-Webhook-Signature'] || '';\nlet verified = false;\ntry {\n  const hmac = crypto.createHmac('sha256', secret).update(JSON.stringify(body)).digest('hex');\n  verified = Boolean(sig && (sig === secret || sig === hmac));\n} catch (e) { verified = false; }\n\n// Find the message across common WaSender shapes.\nconst ev = body.data || body;\nconst msg = ev.messages || ev.message || (ev.event === 'messages.upsert' ? ev.data : null) || ev;\nconst m = Array.isArray(msg) ? msg[0] : msg;\nif (!m) return [];\n\nconst remoteJid = (m.key && m.key.remoteJid) || m.from || m.chatId || ev.from || '';\nif (m.key && m.key.fromMe) return [];           // ignore our own outgoing\nif (/status@broadcast|@g\\.us/.test(remoteJid)) return [];  // ignore status + groups\n\nconst content = m.message || {};\nconst text = content.conversation\n  || (content.extendedTextMessage && content.extendedTextMessage.text)\n  || (content.imageMessage && content.imageMessage.caption)\n  || m.text || m.body || '';\nlet type = 'text';\nif (content.imageMessage || m.type === 'image') type = 'image';\nelse if (content.documentMessage) type = 'document';\nelse if (content.audioMessage) type = 'audio';\n\nreturn [{ json: {\n  message_id: (m.key && m.key.id) || m.id || `${remoteJid}-${m.messageTimestamp || ''}`,\n  phone: String(remoteJid).replace(/@s\\.whatsapp\\.net$/, ''),\n  push_name: m.pushName || ev.pushName || '',\n  body: text,\n  message_type: type,\n  media_url: m.mediaUrl || '',\n  verified,\n  raw: body\n}}];"
      },
      "id": "extract",
      "name": "Verify + extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 440, 320 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: $env.OPENAI_BATCH_MODEL || 'gpt-4o-mini',\n  temperature: 0,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: 'You triage inbound WhatsApp messages for MEC, a food distributor in Saudi Arabia. The text may be Arabic or English. Return STRICT JSON: {\"intent\":\"order|inquiry|complaint|other\",\"products\":[{\"name\":string,\"qty\":number|null,\"unit\":string|null}],\"doc_type\":\"po|invoice|delivery_note|payment|other|null\",\"summary\":string}. Extract products only if clearly an order. Set doc_type when the message is or accompanies a document/image of that kind (purchase order, invoice/فاتورة, delivery note/إشعار تسليم, payment receipt/إيصال دفع); otherwise null. Never invent.' },\n    { role: 'user', content: \"type=\" + String($json.message_type || \"text\") + \" | \" + String($json.body || \"(no text)\") }\n  ]\n}) }}",
        "options": {}
      },
      "id": "classify",
      "name": "Classify (GPT mini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 660, 320 ]
    },
    {
      "parameters": {
        "jsCode": "// Merge extraction + classification into the Supabase row.\nlet cls = {};\ntry { cls = JSON.parse($json.choices[0].message.content); } catch (e) {}\nconst src = $('Verify + extract').item.json;\nreturn [{ json: {\n  message_id: src.message_id,\n  phone: src.phone,\n  push_name: src.push_name,\n  body: src.body,\n  message_type: src.message_type,\n  media_url: src.media_url,\n  intent: cls.intent || 'other',\n  products: cls.products || [],\n  doc_type: (src.message_type === 'document' || src.message_type === 'image') ? (cls.doc_type && cls.doc_type !== 'null' ? cls.doc_type : 'other') : null,\n  raw: src.raw,\n  verified: src.verified,\n  received_at: $now.toISO()\n}}];"
      },
      "id": "merge",
      "name": "Build row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 880, 320 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/whatsapp_intake?on_conflict=message_id",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "resolution=merge-duplicates" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "store",
      "name": "Store → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1100, 320 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://wasenderapi.com/api/send-message",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $env.WASENDER_API_TOKEN }}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ to: $('Build row').item.json.phone, text: 'تم استلام رسالتك ✅ سيتواصل معك فريق MEC قريبًا. / Your message was received — MEC will get back to you shortly.' }) }}",
        "options": {}
      },
      "id": "ack",
      "name": "Auto-acknowledge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "onError": "continueRegularOutput",
      "position": [ 1320, 320 ]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "ok", "options": {} },
      "id": "respond",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1540, 320 ]
    }
  ],
  "connections": {
    "WaSender webhook": { "main": [ [ { "node": "Verify + extract", "type": "main", "index": 0 } ] ] },
    "Verify + extract": { "main": [ [ { "node": "Classify (GPT mini)", "type": "main", "index": 0 } ] ] },
    "Classify (GPT mini)": { "main": [ [ { "node": "Build row", "type": "main", "index": 0 } ] ] },
    "Build row": { "main": [ [ { "node": "Store → Supabase", "type": "main", "index": 0 } ] ] },
    "Store → Supabase": { "main": [ [ { "node": "Auto-acknowledge", "type": "main", "index": 0 } ] ] },
    "Auto-acknowledge": { "main": [ [ { "node": "200 OK", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
