n8n/whatsapp-intake.json
{
  "name": "MEC · WhatsApp Intake (WaSender)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mec-wasender",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "WaSender webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        220,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Verify WaSender secret + extract the message. Two MEC groups are processed (set their JIDs in env):\n//   MEC_ORDERS_GROUP_JID = the daily orders/chat group  -> group_type 'orders'\n//   MEC_DOCS_GROUP_JID    = the invoices/documents group -> group_type 'docs'\n// Direct messages stay group_type 'dm'. Any OTHER group is ignored. In a group the real author is\n// key.participant (the sender) — that person is the SALESPERSON who brought the order.\nconst crypto = require('crypto');\nconst secret = $env.WASENDER_WEBHOOK_SECRET || '';\nconst ordersJid = String($env.MEC_ORDERS_GROUP_JID || '').trim();\nconst docsJid = String($env.MEC_DOCS_GROUP_JID || '').trim();\nconst item = $input.first().json;\nconst headers = item.headers || {};\nconst body = item.body || item;\n\nconst sig = headers['x-webhook-signature'] || headers['X-Webhook-Signature'] || '';\nlet verified = false;\ntry { const hmac = crypto.createHmac('sha256', secret).update(JSON.stringify(body)).digest('hex'); verified = Boolean(sig && (sig === secret || sig === hmac)); } catch (e) { verified = false; }\n\nconst ev = body.data || body;\nconst msg = ev.messages || ev.message || (ev.event === 'messages.upsert' ? ev.data : null) || ev;\nconst m = Array.isArray(msg) ? msg[0] : msg;\nif (!m) return [];\nif (m.key && m.key.fromMe) return [];            // ignore our own outgoing\n\nconst remoteJid = (m.key && m.key.remoteJid) || m.from || m.chatId || ev.from || '';\nif (/status@broadcast/.test(remoteJid)) return [];\nconst isGroup = /@g\\.us/.test(remoteJid);\n\nlet group_type = 'dm';\nif (isGroup) {\n  if (ordersJid && remoteJid === ordersJid) group_type = 'orders';\n  else if (docsJid && remoteJid === docsJid) group_type = 'docs';\n  else group_type = 'unknown';                    // record it so its group_jid shows in the inbox (setup), but don't process as an order/doc\n}\n\nconst participant = (m.key && m.key.participant) || m.participant || '';\nconst senderJid = isGroup ? participant : remoteJid;\nconst senderPhone = String(senderJid).replace(/@s\\.whatsapp\\.net$/, '').replace(/@g\\.us$/, '');\nconst senderName = m.pushName || ev.pushName || '';\n\nlet content = m.message || {};\n// Unwrap WhatsApp envelopes so the real content is seen — forwarded PDFs/images-with-caption,\n// disappearing (ephemeral) and view-once messages all nest the actual message one level down.\ncontent = (content.ephemeralMessage && content.ephemeralMessage.message)\n  || (content.viewOnceMessage && content.viewOnceMessage.message)\n  || (content.viewOnceMessageV2 && content.viewOnceMessageV2.message)\n  || (content.documentWithCaptionMessage && content.documentWithCaptionMessage.message)\n  || content;\nconst docMsg = content.documentMessage || null;\nconst imgMsg = content.imageMessage || null;\n// For a document the file name/title is the best signal of what it is (e.g. \"فاتورة ... 389.pdf\").\nconst text = content.conversation\n  || (content.extendedTextMessage && content.extendedTextMessage.text)\n  || (imgMsg && imgMsg.caption)\n  || (docMsg && (docMsg.caption || docMsg.title || docMsg.fileName))\n  || m.text || m.body || '';\nlet type = 'text';\nif (imgMsg || m.type === 'image') type = 'image';\nelse if (docMsg) type = 'document';\nelse if (content.audioMessage) type = 'audio';\nelse if (content.reactionMessage) type = 'reaction';\n\n// A reaction (e.g. a ✅ on the order message) carries the emoji + the id of the message it reacts to.\nconst reaction = content.reactionMessage || {};\nconst reaction_emoji = reaction.text || '';\nconst reaction_target = (reaction.key && reaction.key.id) || '';\n\n// Drop only pure system/encryption noise (key exchange, protocol). EVERYTHING else — including ordinary\n// chatter — is saved so the admin can audit exactly what JARVIS read; chatter is classified intent=other\n// and the order guard means it never becomes an order.\nconst _realKeys = Object.keys(content).filter(k => !['messageContextInfo', 'senderKeyDistributionMessage', 'protocolMessage'].includes(k));\nif (!text && _realKeys.length === 0) return [];\n\n// Quoted/replied message id — threads an approval / rejection / quantity adjustment back to the order.\nconst ctx = (content.extendedTextMessage && content.extendedTextMessage.contextInfo)\n  || (imgMsg && imgMsg.contextInfo)\n  || (docMsg && docMsg.contextInfo) || {};\nconst quoted_message_id = ctx.stanzaId || ctx.quotedMessageId || '';\n\nreturn [{ json: {\n  message_id: (m.key && m.key.id) || m.id || `${remoteJid}-${m.messageTimestamp || ''}`,\n  group_jid: isGroup ? remoteJid : '',\n  group_type,\n  phone: senderPhone,\n  push_name: senderName,\n  salesperson: senderName,\n  body: text,\n  message_type: type,\n  media_url: (docMsg && docMsg.url) || (imgMsg && imgMsg.url) || m.mediaUrl || '',\n  quoted_message_id,\n  reaction_emoji,\n  reaction_target,\n  verified,\n  raw: body\n}}];"
      },
      "id": "extract",
      "name": "Verify + extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Classify the message. DOCUMENTS/IMAGES are READ by GPT-4o (it sees stamps, prices, bank details so a\n// stamped-as-received invoice is recognised as a delivery note); text/chatter uses the cheap model; a\n// reaction needs no classification.\nconst src = $('Verify + extract').item.json;\nconst oaiKey = $env.OPENAI_API_KEY || '';\nconst helpers = this.helpers;\nconst isFile = (src.message_type === 'document' || src.message_type === 'image');\nlet cls = {};\n// OWNER STATUS BOT: a greeting/'report' DM from an owner number triggers a full portal status report (the\n// portal builds it + sends it back via WaSender). Handled before any other classification.\nconst OWNER_NUMS = ['966500900377','966556732109','966540747300'];\n// WhatsApp now hides the number behind an @lid privacy id, so read the REAL number from key.cleanedSenderPn.\nconst _rm = (src.raw && src.raw.data && src.raw.data.messages) || (src.raw && src.raw.messages) || {};\nconst _k = _rm.key || {};\nconst _from = String(_k.cleanedSenderPn || _k.senderPn || src.phone || '').replace(/@.*/, '').replace(/[^0-9]/g, '');\nconst _isOwner = OWNER_NUMS.some(n => _from.length >= 9 && _from.endsWith(n.slice(-9)));\nconst _b = String(src.body||'').toLowerCase().trim();\nconst _isStatusReq = _b.includes('jarvis')||_b.includes('جارفيس')||_b.includes('report')||_b.includes('تقرير')||_b.includes('status')||_b.includes('الحالة')||(_b.length<=15 && (_b.includes('hi')||_b.includes('hello')||_b.includes('hey')||_b.includes('مرحبا')||_b.includes('اهلا')||_b.includes('أهلا')||_b.includes('السلام')||_b.includes('هلا')));\nconst _isDM = (src.group_type !== 'orders' && src.group_type !== 'docs');\nif (_isOwner && _isDM && _isStatusReq && src.message_type !== 'reaction') {\n  try { await helpers.httpRequest({ method: 'GET', url: ($env.PORTAL_BASE_URL) + '/api/jarvis-status?key=' + encodeURIComponent($env.WASENDER_WEBHOOK_SECRET) + '&send=1&to=' + _from, json: true }); } catch (e) {}\n  return [{ json: { cls: { intent: 'other' }, status_replied: true } }];\n}\nconst DOC_PROMPT = \"You are reading a business document for MEC, a food distributor in Saudi Arabia. It may be a PDF or a photo/scan, Arabic or English. FIRST, look carefully for any STAMP, SIGNATURE, or handwriting showing the CLIENT RECEIVED the goods - for example تم الاستلام, استلمت, مستلم, received, or delivered, or a delivery/receipt stamp or signature. RULE: if such a received mark appears ANYWHERE, even on an invoice layout, the document is a DELIVERY NOTE, because a stamped-as-received invoice IS the delivery note. If there is NO received mark: a فاتورة with prices or VAT is an invoice; a purchase order (أمر شراء) is po; a bank transfer, deposit, or payment receipt is payment; a RECEIVABLES/CREDIT statement (titled المديونية, or a table listing clients with outstanding amounts and aging أعمار الذمم) is credit; an INVENTORY/STOCK count (titled المخزون, or a list of products with quantities/cartons on hand) is inventory. These last two are team status reports from staff, not order documents - never treat them as invoices. Anything else is other. If doc_type is credit, ALSO read the whole table into extracted as an array of {date (the invoice date as YYYY-MM-DD), invoiceNo, client, salespersonAr, amount (number, the after-tax/المبلغ بعد الضريبة amount), ageDays (number, اعمار الذمم)} - one object per row, skip the totals row. If doc_type is inventory, set extracted to an array of {item, cartons (number)} - one per product row, skip subtotal/الإجمالي rows. Otherwise extracted is null. Reply ONLY with a JSON object with these fields: doc_type (one of invoice, delivery_note, payment, po, credit, inventory, other), received_stamp (true or false), order_no (the order or invoice number, or null), client (the client or company name, or null), recipient (the receiver named, or null), extracted (array or null), summary (one short line).\";\nconst TEXT_PROMPT = \"You triage WhatsApp TEXT messages for MEC, a food distributor in Saudi Arabia, Arabic or English. Most messages are ordinary chatter, greetings, thanks, or coordination - for those use intent other and extract nothing. A CLEAR order that lists products and quantities is intent order - extract the products as a list of name, qty, unit, plus order_no, client, and recipient (المستلم) if present. If reply_to=yes and the message approves an earlier order (موافق, تمام, تم, approved, اعتمد) set decision approve; if it rejects (مرفوض, لا, rejected, إلغاء) set decision reject; if it changes the quantities set decision adjust and put the NEW quantities in products. A PAYMENT or bank-transfer confirmation (إيداع, حوالة واردة, تحويل, سند قبض, or an amount with a bank and IBAN) has doc_type payment. IMPORTANT: invoices and delivery notes are always FILES, never plain text, so never set those from text. Reply ONLY with a JSON object with fields: intent (order, inquiry, complaint, approval, or other), order_no, client, recipient, products (array of name, qty, unit), doc_type (payment or null), decision (approve, reject, adjust, or null), summary.\";\nasync function ask(body){ try { const r = await helpers.httpRequest({ method: 'POST', url: 'https://api.openai.com/v1/chat/completions', headers: { Authorization: 'Bearer ' + oaiKey, 'Content-Type': 'application/json' }, body: body, json: true }); return JSON.parse(r.choices[0].message.content); } catch (e) { return {}; } }\nif (src.message_type === 'reaction') {\n  cls = {};\n} else if (isFile) {\n  try {\n    const crypto = require('crypto');\n    const raw = src.raw || {};\n    const root = (raw.data && raw.data.messages && raw.data.messages.message) || (raw.messages && raw.messages.message) || raw.message || raw;\n    let media = null, kind = null;\n    const find = (n) => { if (!n || typeof n !== 'object' || media) return; if (n.documentMessage) { media = n.documentMessage; kind = 'document'; return; } if (n.imageMessage) { media = n.imageMessage; kind = 'image'; return; } for (const k of Object.keys(n)) find(n[k]); };\n    find(root);\n    if (media && media.url && media.mediaKey) {\n      const INFO = { image: 'WhatsApp Image Keys', document: 'WhatsApp Document Keys', video: 'WhatsApp Video Keys', audio: 'WhatsApp Audio Keys' };\n      const mk = Buffer.from(media.mediaKey, 'base64');\n      const exp = Buffer.from(crypto.hkdfSync('sha256', mk, Buffer.alloc(0), Buffer.from(INFO[kind]), 112));\n      const encResp = await helpers.httpRequest({ url: media.url, encoding: 'arraybuffer' });\n      const enc = Buffer.isBuffer(encResp) ? encResp : Buffer.from(encResp);\n      const d = crypto.createDecipheriv('aes-256-cbc', exp.subarray(16, 48), exp.subarray(0, 16));\n      const fileBuf = Buffer.concat([d.update(enc.subarray(0, enc.length - 10)), d.final()]);\n      const mime = media.mimetype || (kind === 'image' ? 'image/jpeg' : 'application/pdf');\n      const dataUrl = 'data:' + mime + ';base64,' + fileBuf.toString('base64');\n      const isImg = kind === 'image' || (mime && mime.slice(0, 6) === 'image/');\n      const part = isImg ? { type: 'image_url', image_url: { url: dataUrl } } : { type: 'file', file: { filename: media.fileName || media.title || 'document.pdf', file_data: dataUrl } };\n      cls = await ask({ model: 'gpt-4o', temperature: 0, response_format: { type: 'json_object' }, messages: [ { role: 'user', content: [ { type: 'text', text: DOC_PROMPT }, part ] } ] });\n      cls.intent = 'other';\n    } else {\n      cls = { intent: 'other', doc_type: 'other' };\n    }\n  } catch (e) {\n    cls = { intent: 'other', doc_type: 'other' };\n  }\n} else {\n  cls = await ask({ model: $env.OPENAI_BATCH_MODEL || 'gpt-4o-mini', temperature: 0, response_format: { type: 'json_object' }, messages: [ { role: 'system', content: TEXT_PROMPT }, { role: 'user', content: 'group=' + String(src.group_type || 'dm') + ' | reply_to=' + (src.quoted_message_id ? 'yes' : 'no') + ' | ' + String(src.body || '(no text)') } ] });\n}\nreturn [{ json: { cls: cls } }];"
      },
      "id": "classify",
      "name": "Classify (read content)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        660,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Merge extraction + classification into the Supabase row.\nconst cls = $json.cls || {};\nconst src = $('Verify + extract').item.json;\nconst isDoc = (src.message_type === 'document' || src.message_type === 'image');\nlet decision = (cls.decision && cls.decision !== 'null') ? cls.decision : null;\n// A ✅ / 👍 reaction on the order approves it; a ❌ / 👎 rejects it — applied to the reacted message.\nconst emoji = String(src.reaction_emoji || '');\nif (src.reaction_target) {\n  if (/[\\u2705\\u2714\\u2611\\uD83D\\uDC4D\\uD83C\\uDD97]/.test(emoji)) decision = 'approve';\n  else if (/[\\u274C\\u2716\\uD83D\\uDC4E\\uD83D\\uDEAB\\u26D4]/.test(emoji)) decision = 'reject';\n  else decision = null;\n}\n// The order this decision targets: a reaction's target, else a quoted reply's target.\nconst target = src.reaction_target || src.quoted_message_id || null;\n// Documents are FILES (a PDF or a photo of a signed/stamped invoice / delivery note / payment). A plain\n// TEXT message that merely says a document was sent (e.g. \"السند مرسل\") is NOT the document — only an\n// actual attachment counts. So doc_type is taken ONLY from a document/image message.\nconst docFromFile = isDoc ? ((cls.doc_type && cls.doc_type !== 'null') ? cls.doc_type : 'other') : (cls.doc_type === 'payment' ? 'payment' : null);\n// A brand-new order (orders group, real content, no reply, no decision) starts pending. A DOCUMENT is\n// never an order, an empty message is never an order, and a decision (reply OR reaction) updates the\n// targeted order rather than opening a new one (handled in 'Apply order decision').\nlet order_status = null;\nif (src.group_type === 'orders' && cls.intent === 'order' && !docFromFile && (src.body || (cls.products || []).length) && !decision && !target) order_status = 'pending';\nreturn [{ json: {\n  message_id: src.message_id,\n  group_jid: src.group_jid || null,\n  group_type: src.group_type,\n  phone: src.phone,\n  push_name: src.push_name,\n  salesperson: src.salesperson || src.push_name || null,\n  body: src.message_type === 'reaction' ? ('reacted ' + emoji).trim() : src.body,\n  message_type: src.message_type,\n  media_url: src.media_url,\n  intent: cls.intent || 'other',\n  order_no: (cls.order_no && cls.order_no !== 'null') ? String(cls.order_no) : null,\n  client_name: (cls.client && cls.client !== 'null') ? cls.client : null,\n  recipient: (cls.recipient && cls.recipient !== 'null') ? cls.recipient : null,\n  products: cls.products || [],\n  doc_type: docFromFile,\n  quoted_message_id: target,\n  decision,\n  order_status,\n  extracted: (cls.extracted && Array.isArray(cls.extracted) && cls.extracted.length) ? cls.extracted : null,\n  raw: src.raw,\n  verified: src.verified,\n  received_at: $now.toISO()\n}}];"
      },
      "id": "merge",
      "name": "Build row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        880,
        320
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/whatsapp_intake?on_conflict=message_id",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Authorization",
              "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Prefer",
              "value": "resolution=merge-duplicates"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "store",
      "name": "Store → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1100,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// If this message is a REPLY that approves / rejects / adjusts an order, patch the quoted order row\n// so the portal's approval queue updates automatically (the same as pressing Approve/Reject in-app).\nconst row = $('Build row').item.json;\nconst base = String($env.NEXT_PUBLIC_SUPABASE_URL || '').replace(/\\/+$/, '');\nconst key = $env.SUPABASE_SERVICE_ROLE_KEY || '';\nif (row.decision && row.quoted_message_id && base && key) {\n  const patch = {};\n  if (row.decision === 'approve') patch.order_status = 'approved';\n  else if (row.decision === 'reject') patch.order_status = 'rejected';\n  else if (row.decision === 'adjust') { patch.order_status = 'pending'; if ((row.products || []).length) patch.products = row.products; }\n  if (Object.keys(patch).length) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'PATCH',\n        url: base + '/rest/v1/whatsapp_intake?message_id=eq.' + encodeURIComponent(row.quoted_message_id),\n        headers: { apikey: key, Authorization: 'Bearer ' + key, 'Content-Type': 'application/json', Prefer: 'return=minimal' },\n        body: JSON.stringify(patch)\n      });\n    } catch (e) {}\n  }\n}\nreturn [{ json: row }];"
      },
      "id": "decision",
      "name": "Apply order decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        320
      ]
    },
    {
      "parameters": {
        "jsCode": "// Auto-reply is DISABLED for now — JARVIS listens silently and never sends a WhatsApp message,\n// in groups OR direct chats. It only reads/records. To re-enable a DM-only acknowledgement later, set\n// env WASENDER_AUTO_REPLY=1 (it will still never reply inside a group).\nconst row = $('Build row').item.json;\nconst replyOn = String($env.WASENDER_AUTO_REPLY || '') === '1';\nif (replyOn && row.group_type === 'dm' && row.phone) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://wasenderapi.com/api/send-message',\n      headers: { Authorization: 'Bearer ' + ($env.WASENDER_API_TOKEN || ''), 'Content-Type': 'application/json' },\n      body: JSON.stringify({ to: row.phone, text: 'تم استلام رسالتك ✅ سيتواصل معك فريق MEC قريبًا. / Your message was received — MEC will get back to you shortly.' })\n    });\n  } catch (e) {}\n}\nreturn [{ json: row }];"
      },
      "id": "ack",
      "name": "Acknowledge (DM only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1540,
        320
      ]
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "ok",
        "options": {}
      },
      "id": "respond",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1760,
        320
      ]
    }
  ],
  "connections": {
    "WaSender webhook": {
      "main": [
        [
          {
            "node": "Verify + extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify + extract": {
      "main": [
        [
          {
            "node": "Classify (read content)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build row": {
      "main": [
        [
          {
            "node": "Store → Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store → Supabase": {
      "main": [
        [
          {
            "node": "Apply order decision",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apply order decision": {
      "main": [
        [
          {
            "node": "Acknowledge (DM only)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Acknowledge (DM only)": {
      "main": [
        [
          {
            "node": "200 OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Classify (read content)": {
      "main": [
        [
          {
            "node": "Build row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "active": false
}
