n8n/whatsapp-intake.json
{
  "name": "MEC · WhatsApp Intake (WaSender)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mec-wasender",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "WaSender webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [ 220, 320 ]
    },
    {
      "parameters": {
        "jsCode": "// Verify WaSender secret + extract the message. Two MEC groups are processed (set their JIDs in env):\n//   MEC_ORDERS_GROUP_JID = the daily orders/chat group  -> group_type 'orders'\n//   MEC_DOCS_GROUP_JID    = the invoices/documents group -> group_type 'docs'\n// Direct messages stay group_type 'dm'. Any OTHER group is ignored. In a group the real author is\n// key.participant (the sender) — that person is the SALESPERSON who brought the order.\nconst crypto = require('crypto');\nconst secret = $env.WASENDER_WEBHOOK_SECRET || '';\nconst ordersJid = String($env.MEC_ORDERS_GROUP_JID || '').trim();\nconst docsJid = String($env.MEC_DOCS_GROUP_JID || '').trim();\nconst item = $input.first().json;\nconst headers = item.headers || {};\nconst body = item.body || item;\n\nconst sig = headers['x-webhook-signature'] || headers['X-Webhook-Signature'] || '';\nlet verified = false;\ntry { const hmac = crypto.createHmac('sha256', secret).update(JSON.stringify(body)).digest('hex'); verified = Boolean(sig && (sig === secret || sig === hmac)); } catch (e) { verified = false; }\n\nconst ev = body.data || body;\nconst msg = ev.messages || ev.message || (ev.event === 'messages.upsert' ? ev.data : null) || ev;\nconst m = Array.isArray(msg) ? msg[0] : msg;\nif (!m) return [];\nif (m.key && m.key.fromMe) return [];            // ignore our own outgoing\n\nconst remoteJid = (m.key && m.key.remoteJid) || m.from || m.chatId || ev.from || '';\nif (/status@broadcast/.test(remoteJid)) return [];\nconst isGroup = /@g\\.us/.test(remoteJid);\n\nlet group_type = 'dm';\nif (isGroup) {\n  if (ordersJid && remoteJid === ordersJid) group_type = 'orders';\n  else if (docsJid && remoteJid === docsJid) group_type = 'docs';\n  else group_type = 'unknown';                    // record it so its group_jid shows in the inbox (setup), but don't process as an order/doc\n}\n\nconst participant = (m.key && m.key.participant) || m.participant || '';\nconst senderJid = isGroup ? participant : remoteJid;\nconst senderPhone = String(senderJid).replace(/@s\\.whatsapp\\.net$/, '').replace(/@g\\.us$/, '');\nconst senderName = m.pushName || ev.pushName || '';\n\nlet content = m.message || {};\n// Unwrap WhatsApp envelopes so the real content is seen — forwarded PDFs/images-with-caption,\n// disappearing (ephemeral) and view-once messages all nest the actual message one level down.\ncontent = (content.ephemeralMessage && content.ephemeralMessage.message)\n  || (content.viewOnceMessage && content.viewOnceMessage.message)\n  || (content.viewOnceMessageV2 && content.viewOnceMessageV2.message)\n  || (content.documentWithCaptionMessage && content.documentWithCaptionMessage.message)\n  || content;\nconst docMsg = content.documentMessage || null;\nconst imgMsg = content.imageMessage || null;\n// For a document the file name/title is the best signal of what it is (e.g. \"فاتورة ... 389.pdf\").\nconst text = content.conversation\n  || (content.extendedTextMessage && content.extendedTextMessage.text)\n  || (imgMsg && imgMsg.caption)\n  || (docMsg && (docMsg.caption || docMsg.title || docMsg.fileName))\n  || m.text || m.body || '';\nlet type = 'text';\nif (imgMsg || m.type === 'image') type = 'image';\nelse if (docMsg) type = 'document';\nelse if (content.audioMessage) type = 'audio';\nelse if (content.reactionMessage) type = 'reaction';\n\n// A reaction (e.g. a ✅ on the order message) carries the emoji + the id of the message it reacts to.\nconst reaction = content.reactionMessage || {};\nconst reaction_emoji = reaction.text || '';\nconst reaction_target = (reaction.key && reaction.key.id) || '';\n\n// Drop only pure system/encryption noise (key exchange, protocol). EVERYTHING else — including ordinary\n// chatter — is saved so the admin can audit exactly what JARVIS read; chatter is classified intent=other\n// and the order guard means it never becomes an order.\nconst _realKeys = Object.keys(content).filter(k => !['messageContextInfo', 'senderKeyDistributionMessage', 'protocolMessage'].includes(k));\nif (!text && _realKeys.length === 0) return [];\n\n// Quoted/replied message id — threads an approval / rejection / quantity adjustment back to the order.\nconst ctx = (content.extendedTextMessage && content.extendedTextMessage.contextInfo)\n  || (imgMsg && imgMsg.contextInfo)\n  || (docMsg && docMsg.contextInfo) || {};\nconst quoted_message_id = ctx.stanzaId || ctx.quotedMessageId || '';\n\nreturn [{ json: {\n  message_id: (m.key && m.key.id) || m.id || `${remoteJid}-${m.messageTimestamp || ''}`,\n  group_jid: isGroup ? remoteJid : '',\n  group_type,\n  phone: senderPhone,\n  push_name: senderName,\n  salesperson: senderName,\n  body: text,\n  message_type: type,\n  media_url: (docMsg && docMsg.url) || (imgMsg && imgMsg.url) || m.mediaUrl || '',\n  quoted_message_id,\n  reaction_emoji,\n  reaction_target,\n  verified,\n  raw: body\n}}];"
      },
      "id": "extract",
      "name": "Verify + extract",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 440, 320 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "Authorization", "value": "=Bearer {{ $env.OPENAI_API_KEY }}" },
          { "name": "Content-Type", "value": "application/json" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({\n  model: $env.OPENAI_BATCH_MODEL || 'gpt-4o-mini',\n  temperature: 0,\n  response_format: { type: 'json_object' },\n  messages: [\n    { role: 'system', content: 'You triage inbound WhatsApp messages for MEC, a food distributor in Saudi Arabia. Text may be Arabic or English. IMPORTANT: most group messages are ordinary chatter — greetings, thanks, small talk, coordination or unrelated content — and are NOT orders, documents or decisions; for those set intent=other and extract nothing (no products, no doc_type, no order_no, no decision). Only act on a CLEAR order, a CLEAR business document, or a CLEAR approval/rejection/quantity-adjustment. When unsure, choose intent=other. Return STRICT JSON: {\"intent\":\"order|inquiry|complaint|approval|other\",\"order_no\":string|null,\"client\":string|null,\"recipient\":string|null,\"products\":[{\"name\":string,\"qty\":number|null,\"unit\":string|null}],\"doc_type\":\"po|invoice|delivery_note|payment|other|null\",\"decision\":\"approve|reject|adjust|null\",\"summary\":string}. In the orders group a message with products and quantities is intent=order. If the message is a REPLY to an earlier order (reply_to=yes) that approves it (موافق/تمام/تم/approved/اعتمد), set decision=approve; if it rejects (مرفوض/لا/rejected/إلغاء), decision=reject; if it changes the quantities, decision=adjust and put the NEW quantities in products. Otherwise decision=null. A business document is an actual FILE — a PDF or a photo/scan of a signed or stamped paper. A plain TEXT message that only mentions or announces a document (e.g. \"السند مرسل\" = the note was sent) is NOT the document itself: set intent=other and doc_type=null for it. Only classify doc_type when the message carries an actual document/image file. Classify the document type (doc_type) for any business document, in ANY group. INVOICE (فاتورة): a billing document with line items, prices/VAT and an invoice number -> doc_type=invoice, NEVER delivery_note. DELIVERY NOTE (سند تسليم/مذكرة تسليم/إشعار تسليم): a document the CLIENT has SIGNED or STAMPED to confirm they RECEIVED the goods (تم الاستلام / delivered / received) — proof of delivery, not a billing invoice -> doc_type=delivery_note. A message that merely says the dispatch was sent (e.g. سند مرسل) is NOT a delivery note — it is just an informational update -> intent=other, doc_type=null. PURCHASE ORDER (أمر شراء)=po. PAYMENT (إيصال/سند قبض/تحويل/payment receipt)=payment. Otherwise null. Never confuse an invoice with a delivery note. A document (invoice/delivery_note/payment/po) is NEVER intent=order even if it lists products. Also extract: order_no = the order/invoice/reference number if present (e.g. \"رقم 389\" -> \"389\"); client = the client/company name on it; recipient = the receiver or driver named (المستلم) on a delivery note. Extract products only for a genuine new order or an adjustment. Never invent.' },\n    { role: 'user', content: \"group=\" + String($json.group_type || \"dm\") + \" | reply_to=\" + (String($json.quoted_message_id || \"\") ? \"yes\" : \"no\") + \" | type=\" + String($json.message_type || \"text\") + \" | \" + String($json.body || \"(no text)\") }\n  ]\n}) }}",
        "options": {}
      },
      "id": "classify",
      "name": "Classify (GPT mini)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 660, 320 ]
    },
    {
      "parameters": {
        "jsCode": "// Merge extraction + classification into the Supabase row.\nlet cls = {};\ntry { cls = JSON.parse($json.choices[0].message.content); } catch (e) {}\nconst src = $('Verify + extract').item.json;\nconst isDoc = (src.message_type === 'document' || src.message_type === 'image');\nlet decision = (cls.decision && cls.decision !== 'null') ? cls.decision : null;\n// A ✅ / 👍 reaction on the order approves it; a ❌ / 👎 rejects it — applied to the reacted message.\nconst emoji = String(src.reaction_emoji || '');\nif (src.reaction_target) {\n  if (/[\\u2705\\u2714\\u2611\\uD83D\\uDC4D\\uD83C\\uDD97]/.test(emoji)) decision = 'approve';\n  else if (/[\\u274C\\u2716\\uD83D\\uDC4E\\uD83D\\uDEAB\\u26D4]/.test(emoji)) decision = 'reject';\n  else decision = null;\n}\n// The order this decision targets: a reaction's target, else a quoted reply's target.\nconst target = src.reaction_target || src.quoted_message_id || null;\n// Documents are FILES (a PDF or a photo of a signed/stamped invoice / delivery note / payment). A plain\n// TEXT message that merely says a document was sent (e.g. \"السند مرسل\") is NOT the document — only an\n// actual attachment counts. So doc_type is taken ONLY from a document/image message.\nconst docFromFile = isDoc ? ((cls.doc_type && cls.doc_type !== 'null') ? cls.doc_type : 'other') : null;\n// A brand-new order (orders group, real content, no reply, no decision) starts pending. A DOCUMENT is\n// never an order, an empty message is never an order, and a decision (reply OR reaction) updates the\n// targeted order rather than opening a new one (handled in 'Apply order decision').\nlet order_status = null;\nif (src.group_type === 'orders' && cls.intent === 'order' && !docFromFile && (src.body || (cls.products || []).length) && !decision && !target) order_status = 'pending';\nreturn [{ json: {\n  message_id: src.message_id,\n  group_jid: src.group_jid || null,\n  group_type: src.group_type,\n  phone: src.phone,\n  push_name: src.push_name,\n  salesperson: src.salesperson || src.push_name || null,\n  body: src.message_type === 'reaction' ? ('reacted ' + emoji).trim() : src.body,\n  message_type: src.message_type,\n  media_url: src.media_url,\n  intent: cls.intent || 'other',\n  order_no: (cls.order_no && cls.order_no !== 'null') ? String(cls.order_no) : null,\n  client_name: (cls.client && cls.client !== 'null') ? cls.client : null,\n  recipient: (cls.recipient && cls.recipient !== 'null') ? cls.recipient : null,\n  products: cls.products || [],\n  doc_type: docFromFile,\n  quoted_message_id: target,\n  decision,\n  order_status,\n  raw: src.raw,\n  verified: src.verified,\n  received_at: $now.toISO()\n}}];"
      },
      "id": "merge",
      "name": "Build row",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 880, 320 ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.NEXT_PUBLIC_SUPABASE_URL }}/rest/v1/whatsapp_intake?on_conflict=message_id",
        "sendHeaders": true,
        "headerParameters": { "parameters": [
          { "name": "apikey", "value": "={{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
          { "name": "Authorization", "value": "=Bearer {{ $env.SUPABASE_SERVICE_ROLE_KEY }}" },
          { "name": "Content-Type", "value": "application/json" },
          { "name": "Prefer", "value": "resolution=merge-duplicates" }
        ] },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}",
        "options": {}
      },
      "id": "store",
      "name": "Store → Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [ 1100, 320 ]
    },
    {
      "parameters": {
        "jsCode": "// If this message is a REPLY that approves / rejects / adjusts an order, patch the quoted order row\n// so the portal's approval queue updates automatically (the same as pressing Approve/Reject in-app).\nconst row = $('Build row').item.json;\nconst base = String($env.NEXT_PUBLIC_SUPABASE_URL || '').replace(/\\/+$/, '');\nconst key = $env.SUPABASE_SERVICE_ROLE_KEY || '';\nif (row.decision && row.quoted_message_id && base && key) {\n  const patch = {};\n  if (row.decision === 'approve') patch.order_status = 'approved';\n  else if (row.decision === 'reject') patch.order_status = 'rejected';\n  else if (row.decision === 'adjust') { patch.order_status = 'pending'; if ((row.products || []).length) patch.products = row.products; }\n  if (Object.keys(patch).length) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'PATCH',\n        url: base + '/rest/v1/whatsapp_intake?message_id=eq.' + encodeURIComponent(row.quoted_message_id),\n        headers: { apikey: key, Authorization: 'Bearer ' + key, 'Content-Type': 'application/json', Prefer: 'return=minimal' },\n        body: JSON.stringify(patch)\n      });\n    } catch (e) {}\n  }\n}\nreturn [{ json: row }];"
      },
      "id": "decision",
      "name": "Apply order decision",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1320, 320 ]
    },
    {
      "parameters": {
        "jsCode": "// Auto-reply is DISABLED for now — JARVIS listens silently and never sends a WhatsApp message,\n// in groups OR direct chats. It only reads/records. To re-enable a DM-only acknowledgement later, set\n// env WASENDER_AUTO_REPLY=1 (it will still never reply inside a group).\nconst row = $('Build row').item.json;\nconst replyOn = String($env.WASENDER_AUTO_REPLY || '') === '1';\nif (replyOn && row.group_type === 'dm' && row.phone) {\n  try {\n    await this.helpers.httpRequest({\n      method: 'POST',\n      url: 'https://wasenderapi.com/api/send-message',\n      headers: { Authorization: 'Bearer ' + ($env.WASENDER_API_TOKEN || ''), 'Content-Type': 'application/json' },\n      body: JSON.stringify({ to: row.phone, text: 'تم استلام رسالتك ✅ سيتواصل معك فريق MEC قريبًا. / Your message was received — MEC will get back to you shortly.' })\n    });\n  } catch (e) {}\n}\nreturn [{ json: row }];"
      },
      "id": "ack",
      "name": "Acknowledge (DM only)",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [ 1540, 320 ]
    },
    {
      "parameters": { "respondWith": "text", "responseBody": "ok", "options": {} },
      "id": "respond",
      "name": "200 OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [ 1760, 320 ]
    }
  ],
  "connections": {
    "WaSender webhook": { "main": [ [ { "node": "Verify + extract", "type": "main", "index": 0 } ] ] },
    "Verify + extract": { "main": [ [ { "node": "Classify (GPT mini)", "type": "main", "index": 0 } ] ] },
    "Classify (GPT mini)": { "main": [ [ { "node": "Build row", "type": "main", "index": 0 } ] ] },
    "Build row": { "main": [ [ { "node": "Store → Supabase", "type": "main", "index": 0 } ] ] },
    "Store → Supabase": { "main": [ [ { "node": "Apply order decision", "type": "main", "index": 0 } ] ] },
    "Apply order decision": { "main": [ [ { "node": "Acknowledge (DM only)", "type": "main", "index": 0 } ] ] },
    "Acknowledge (DM only)": { "main": [ [ { "node": "200 OK", "type": "main", "index": 0 } ] ] }
  },
  "settings": { "executionOrder": "v1" },
  "active": false
}
